<% provide(:title, "About Us") %>

<div class="container">
  <h2>About Us</h2>
  <p>
    King's Court Condominiums is located at 1428 Madison Street in the city of Oakland, CA.  We are on the west
    side of beautiful Lake Merritt and only 2 blocks from the famous and fabulous Oakland Chinatown.  Our community
    boasts a private pool and parking garage, and a well-maintained open-air courtyard. We are within easy proximity
    of both Uptown and Downtown business areas as well as 3 BART stations.
  </p>

  <p>
    Our building was erected in 1961 as apartment housing. and we became a condominium community of 33 homes
    during the 1970's.  Meet our current Board of Directors <%= link_to "here", static_pages_board_path %>.
  </p>

  <p>
    We are currently managed by Pacific Sales and Management.  If you have questions/comments about our community,
    please drop a note in the Suggestion box in our courtyard, or contact Pacific Sales directly at:

  <address>
    329 11th St.<br/>
    Oakland, CA 94607<br/>
    (510) 763-8600
  </address>
  </p>

  <p>
    Or, contact us by email <%= link_to "here", static_pages_board_path %>.
  </p>

</div>
