<% provide(:title, "Our Board") %>
<h1>Meet the Board</h1>
<p>
  <ul>
    <li>President Patrick Forest</li>
    <li>Vice-President Jabari Reeves</li>
    <li>Treasurer Jian Lin</li>
    <li>Secretary Sheri Wilson</li>
  </ul>
</p>
