<% provide(:title, "Our Board") %>

  <h2>Meet the Board</h2>
  <ul>

      <dl>
        <dt>President Patrick Forrest</dt>
      </dl>
      <dl>
        <dt>Vice-President Jabari Reeves</dt>
      </dl>
      <dl>
        <dt>Treasurer Jian (Ken) Lin</dt>
      </dl>
      <dl>
        <dt>Secretary Sheri Wilson</dt>
        <%=image_tag "sheri.jpg" %>
        <dd>
            Sheri has lived at King’s Court since September, 2014 and was elected to the Board not long after .
            Originally from New York, she spent 18 years in South Florida raising her 2 daughters before moving
            to the Bay area.  She now considers Oakland her permanent home.
            Sheri is a software developer and brings her love of solving problems to her work on the Board.
            In her free time, she enjoys — building this website!  She also loves walking Lake Merritt,
            spending time with friends, cooking, dining out, and traveling.
            Favorite quote: <quote>“Life is not fair, but life is not fair for anyone.
            That makes life fair.” </quote>— Anonymous
          </dd>
      </dl>
  </ul>


