<% provide(:title, "Home") %>
<h1>King's Court Homeowner's Association</h1>
<p>
    Welcome to the website for the King's Court Homeowners Association.
</p>

<p>
  <ul>
    <%= link_to "Meet the Board", static_pages_board_path %><br>
    <%= link_to "Board Meeting Minutes", static_pages_minutes_path %>
  </ul>

</p>
