<% provide(:title, "Member Links") %>

<!--Members interest areas-->
<div class="container">
  <h2 id="members">Member Links</h2>
  <p>Please sign in to access member content.</p>
    <ul class="menu">
      <li>Member Directory</li>
      <li>Board Meeting Minutes Archive</li>
      <li>Board Meeting Agenda</li>
      <li>Newsletter Archive</li>
    </ul>
</div>


