<% provide(:title, "Member Links") %>

<!--Members interest areas-->
<div class="container">
  <h2 id="members">Member Links</h2>
    <ul class="menu">
      <li>Member Directory</li>
      <li><%= link_to "Meet the Board", static_pages_board_path %></li>
      <li>Board Meeting Minutes Archive</li>
      <li>Board Meeting Agenda</li>
      <li>Newsletter Archive</li>
    </ul>
</div>


