@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'pacificoregular';
  src: url('fonts/pacifico-webfont.eot');
  src: url('fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/pacifico-webfont.woff2') format('woff2'),
  url('fonts/pacifico-webfont.woff') format('woff'),
  url('fonts/pacifico-webfont.ttf') format('truetype'),
  url('fonts/pacifico-webfont.svg#pacificoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

#welcome1, #welcome2 {
    font-family: "Pacifico", "Book Antiqua", Palatino, serif;
}

#welcome1 {
  font-size: 200%;
  color: mediumseagreen;
}

#welcome2 {

}

.hidden { display: none; }

/*flash*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}